.App {
  text-align: center;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-forecast {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  background: #eee;
}
.App-forecast > li{
  box-sizing: border-box;
  width: 12.5%;
  list-style: none;
  padding: 20px 8px;
}
.App-forecast .date {
  font-weight: 700;
}